@charset "UTF-8";

// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 992px) {
  #navItems {
    display: flex;
    flex-direction: row;
  }
  .nav-item {
    margin: 0 10px 0;
  }
}