@charset "UTF-8";

// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 992px) {
  #navItems {
    display: flex;
    flex-direction: row;
  }
  .nav-item {
    margin: 0 10px 0;
  }
}

// @media (max-width: 576px) {
//   #info_left {
//     width: 1000px
//   }
// }

#submit_form{
  text-align: end;
}

#opus_info{
  width: 100%
}

#info_right{
  width: 70%
}

.form-group{
  input[type="text"]{
    width: 80%
  }
}

#info_left{
  cursor: pointer;
  display: inline-flex;
  flex-direction: column-reverse;
}

#opus_image{
  display: none
}