@charset "UTF-8";

// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#input_item {
  margin: 0 130px 0 20px;
}

@media (max-width: 1200px) {
  #input_item {
    margin: 0 100px 0 20px;
  }
}

@media (max-width: 992px) {
  #nav_items {
    display: flex;
    flex-direction: row;
  }
  .nav-item {
    margin: 0 10px 0;
  }
  #input_item {
    margin: 0 50px 0 20px;
  }
}

@media (max-width: 768px) {
  #input_item {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 576px) {
  #input_item {
    margin: 0 20px;
  }
}

img {
  width: 100%;
  height: auto;
}

#info_left{
  cursor: pointer;
  display: inline-flex;
  flex-direction: column-reverse;
  position: relative;
}

#opus_image{
  display: none
}

#image_text{
  position: absolute;
}

#submit_form{
  text-align: end;
}