<% if @reviews.exists? %>
  <div class="card">
    <div class="row card-contents">
      <div class="w-50" id="card_left">
        <% if review.image.attached?%>
          <%= image_tag review.image, id: "review_image" %>
        <% else %>
          <div id="text_setting">
            <%= image_tag "sample2.jpg", id: "review_image" %>
            <p class="card-text ml-4" id="image_text">サンプル：
              <a href="https://pixabay.com/ja/users/kirillslov-8058952/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5773481">kirillslov</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5773481">Pixabay</a>からの画像
            </p>
          </div>
        <% end %>
      </div>
      <div class="w-50" id="card_right">
        <p>"aaa"</p>
      </div>
    </div>
  </div>
<% end %>


