<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8" >
      <div class="m-2" >
        <%= render partial: 'review', collection: @reviews %>
      </div>
    </div>
    <div class="col-sm-4" style="background: lightblue;">
      ComingSoon!
    </div>
  </div>
</div>
