<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8" >
      Left_side
      <%# <%= render partial: 'reviews', collection: @reviews %>
    </div>
    <div class="col-sm-4" >
      Right_side
    </div>
  </div>
</div>
